
stabs.py
__pycache__/stab.cpython-39.pyc
__pycache__/stabs.cpython-39.pyc
static/media/energoteh*
static/media/volt*
pythonProject2.7z
static/media/media.rar
static/media/01 UNIVERSAL 5000_200x150_c4c.jpg

static/media.7z
