.head-logo {
    background: url(../media/paralax.jpg) center no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    min-height: 233px;
}    
.head-logo>h1 {
    color: white;
}

body {
    margin-bottom: 100px;
}

.main-color-bg {
   background-color: #0d6efd; 
}
/* .slick-center slide scale */
.slick-center {
    transform: scale(1.1);
    transition: linear 0.3s;
    transition-delay: 0.5s;
}
.slick-slide {
    transition: linear 0.3s;
    transition-delay: 0.5s;
}
/* .slick-center slide scale */