<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/add_product" method="post">
        <input type="text" placeholder="model" name="model">
        <input type="text" placeholder="brand" name="brand">
        <input type="text" placeholder="price" name="price">
        <input type="text" placeholder="description" name="description">
        <input type="text" placeholder="param_power" name="param_power">
        <input type="text" placeholder="param_type" name="param_type">
        <input type="text" placeholder="param_voltage" name="param_voltage">
        <input type="text" placeholder="param_accuracy" name="param_accuracy">
        <input type="text" placeholder="param_warranty" name="param_warranty">
        <input type="text" placeholder="param_weight" name="param_weight">
        <input type="submit" value="Add product" class="btn">
    </form>
</body>
</html>