  <!--Carousell-->
  <div class="d-md-none mb-5">
    <div class="row mt-5">
    <div class="col-12">
      <h1 class="display-5 text-center">Популярные модели</h1>
      <hr>
    </div>
  </div>
  <div class="">
    <div class="stabslider1 mt-4">
      <div class="card mx-3">
        <img src="{{ url_for('static', filename='media/01TOP.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Card title1</h5>
          <hr>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="d-flex justify-content-center pb-2">
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>

        </div>
      </div>
      <div class="card mx-3">
        <img src="{{ url_for('static', filename='media/01TOP.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Card title2</h5>
          <hr>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="d-flex justify-content-center pb-2">
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>

        </div>
      </div>
      <div class="card mx-3">
        <img src="{{ url_for('static', filename='media/01TOP.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Card title3</h5>
          <hr>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="d-flex justify-content-center pb-2">
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>

  <!--Carousell-->