<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Стабилизаторы.рф</title>
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='slick/slick.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='slick/slick-theme.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<nav class="navbar fixed-bottom navbar-light bg-primary bg-gradient">
  <div class="container-fluid">
    <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#payment"
            aria-controls="offcanvasExample">Оплата</button>
    <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#contacts"
            aria-controls="offcanvasExample">Контакты</button>
    <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#delivery"
            aria-controls="offcanvasExample">Доставка</button>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="head-logo">
      <h1 class="display-4 text-center text-uppercase">Стабилизаторы.РФ</h1>
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <h1 class="display-5 text-center">Зачем нужен стабилизатор?</h1>
      <hr>
    </div>
    <div class="col-12">
      <p class="lead text-center">Стабилизатор напряжения обеспечивает защиту электрооборудования<br> и корректную работу:</p>
      <ul class="fw-light fs-6">
        <li>бытовой техники</li>
        <li>торгового оборудования</li>
        <li>освещения</li>
        <li>электроинструмента</li>
        <li>холодильного оборудования</li>
        <li>и других устройств.</li>
      </ul>
      <p class="fw-normal fs-6 text-center">Стабилизатор предотвращает преждевременный<br> износ и выход из строя электротехники.</p>
  </div>
    <div class="col-12">
      <figure class="figure">
        <img src="{{ url_for('static', filename='media/lamp.jpg') }}" class="figure-img img-fluid rounded" alt="...">
      </figure>
    </div>
    <div class="col-12 mt-4">
    <h1 class="display-5 text-center">Как правильно выбрать стабилизатор?</h1>
    <hr>
  </div>
    <div class="col-12">
    <p class="fw-light fs-4 text-center">Для выбора стабилизатора<br>нужно учитывать:</p>
    <ul class="fw-light fs-6">
      <li>максимальную мощность подключаемого оборудования и бытовой техники</li>
      <li>предельные отклонения напряжения электросети</li>
      <li>интенсивность перепадов</li>
    </ul>
      <p class="fw-normal fs-6 text-center">Мы оказывыаем бесплатную консультацию<br> по выбору оптимальной модели стабилизатора для Ваших условий эксплуатации.</p>

    <div class="d-grid gap-2">
      <a href="tel:+79785559705"
         class="btn btn-primary btn-lg mt-3 wow zoomIn icon-mobile text-center m-phone-button">+7 978 555 97 05</a>
    </div>
  </div>
  </div>


  <!--Carousell-->
  <div class="row mt-5">
    <div class="col-12">
      <h1 class="display-5 text-center">Популярные модели</h1>
      <hr>
    </div>
  </div>
  <div class="">
    <div class="stabslider1 mt-4">
      <div class="card mx-3">
        <img src="{{ url_for('static', filename='media/01TOP.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Card title1</h5>
          <hr>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="d-flex justify-content-center pb-2">
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>

        </div>
      </div>
      <div class="card mx-3">
        <img src="{{ url_for('static', filename='media/01TOP.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Card title2</h5>
          <hr>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="d-flex justify-content-center pb-2">
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>

        </div>
      </div>
      <div class="card mx-3">
        <img src="{{ url_for('static', filename='media/01TOP.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Card title3</h5>
          <hr>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="d-flex justify-content-center pb-2">
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--Carousell-->


  <!-- Brand «ЭНЕРГОТЕХ» -->
  <div class="row my-5 gy-3">
    <div class="col-12">
      <h1 class="display-5 text-center">«ЭНЕРГОТЕХ»</h1>
      <hr>
    </div>
    <div class="col-12">
      <p>Отличаются высокой надежностью и безупречным качеством изготовления на современном оборудовании.
        Стабилизаторы тиристорного типа с инновационным алгоритмом управления. Изготовлены в России. Гарантийный срок
        эксплуатации от 5 до 10 лет.
        Применяются в быту, коммерческих объектах ,промышленности.</p>
    </div>

    <div class="col-12">
      <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active slickSlideRefresh" data-bs-toggle="tab" data-bs-target="#onephase" type="button"
                  role="tab" aria-controls="home" aria-selected="true">Однофазные
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link slickSlideRefresh" data-bs-toggle="tab" data-bs-target="#threephase" type="button"
                  role="tab" aria-controls="profile" aria-selected="false">Трехфазные
          </button>
        </li>
      </ul>
      <h1 class="display-5 text-center my-5">Модели:</h1>
    </div><!-- TABS NAV -->

    <div class="tab-content">
      <div class="tab-pane fade show active" id="onephase" role="tabpanel"><!--Однофаные модели-->
        <ul class="nav nav-pills nav-justified" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active slickSlideRefresh slickSlideRefresh" data-bs-toggle="tab" data-bs-target="#optimum_one" type="button"
                    role="tab" aria-selected="true">OPTIMUM+
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link slickSlideRefresh slickSlideRefresh" data-bs-toggle="tab" data-bs-target="#infinity_one" type="button"
                    role="tab" aria-selected="false">INFINITY
            </button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="optimum_one" role="tabpanel">
          <div class="row">
          {% for product in energotech_onephase_optimum %}
          <div class="col-6">
            <h1 class="text-center display-4">{{ product.model }}</h1>
            {% if product.voltage_input_type == "Однофазный" %}
              <div class="ModelViewSlider">
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/01.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/02.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/03.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/04.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
              </div>
            {% else %}
              <div class="ModelViewSlider">
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/01.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/02.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/03.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/04.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
              </div>
            {% endif %}
            <hr>
            <ul class="list-unstyled fw-light fs-6">
              <li class="d-flex">
                <div class="flex-grow-1">Тип:</div>
                <div>{{ product.voltage_input_type }}</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1">Мощность:</div>
                <div>{{ product.power }} Вт</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1">Вес:</div>
                <div>{{ product.weight }} кг</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1 fs-5">Цена:</div>
                <div class="fw-normal fs-5">{{ product.price }} р.</div>
              </li>
              <li class=""></li>
            </ul>
            <div class="d-grid mt-2">
              <a class="btn btn-primary" href="view_products/{{ product.model_link }}">Подробрнее..</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div><!--Однофазные модели Optimum-->
        <div class="tab-pane fade" id="infinity_one" role="tabpanel"><!--Однофазные модели INFINITY -->
          <div class="row">
          {% for product in energotech_onephase_infinity %}
          <div class="col-6">
            <h1 class="text-center display-4">{{ product.model }}</h1>
            {% if product.voltage_input_type == "Однофазный" %}
              <div class="ModelViewSlider">
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/01.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/02.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/03.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/04.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
              </div>
            {% else %}
              <div class="ModelViewSlider">
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/01.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/02.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/03.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/04.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
              </div>
            {% endif %}
            <hr>
            <ul class="list-unstyled fw-light fs-6">
              <li class="d-flex">
                <div class="flex-grow-1">Тип:</div>
                <div>{{ product.voltage_input_type }}</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1">Мощность:</div>
                <div>{{ product.power }} Вт</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1">Вес:</div>
                <div>{{ product.weight }} кг</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1 fs-5">Цена:</div>
                <div class="fw-normal fs-5">{{ product.price }} р.</div>
              </li>
              <li class=""></li>
            </ul>
            <div class="d-grid mt-2">
              <a class="btn btn-primary" href="view_products/{{ product.model_link }}">Подробрнее..</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div><!--Однофазные модели INFINITY-->
        </div>

      </div>
      <div class="tab-pane fade" id="threephase" role="tabpanel">
        <ul class="nav nav-pills nav-justified" id="three_tablist" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active slickSlideRefresh" data-bs-toggle="tab" data-bs-target="#optimum_three" type="button"
                    role="tab" aria-selected="true">OPTIMUM+
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link slickSlideRefresh" data-bs-toggle="tab" data-bs-target="#infinity_three" type="button"
                    role="tab" aria-selected="false">INFINITY
            </button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="optimum_three" role="tabpanel">
      <div class="row">
          {% for product in energotech_treephase_optimum %}
          <div class="col-6">
            <h1 class="text-center display-4">{{ product.model }}</h1>
            {% if product.voltage_input_type == "Однофазный" %}
              <div class="ModelViewSlider">
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/01.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/02.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/03.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/04.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
              </div>
            {% else %}
              <div class="ModelViewSlider">
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/01.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/02.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/03.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/04.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
              </div>
            {% endif %}
            <hr>
            <ul class="list-unstyled fw-light fs-6">
              <li class="d-flex">
                <div class="flex-grow-1">Тип:</div>
                <div>{{ product.voltage_input_type }}</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1">Мощность:</div>
                <div>{{ product.power }} Вт</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1">Вес:</div>
                <div>{{ product.weight }} кг</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1 fs-5">Цена:</div>
                <div class="fw-normal fs-5">{{ product.price }} р.</div>
              </li>
              <li class=""></li>
            </ul>
            <div class="d-grid mt-2">
              <a class="btn btn-primary" href="view_products/{{ product.model_link }}">Подробрнее..</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
        <div class="tab-pane fade" id="infinity_three" role="tabpanel">
      <div class="row">
          {% for product in energotech_treephase_infinity %}
          <div class="col-6">
            <h1 class="text-center display-4">{{ product.model }}</h1>
            {% if product.voltage_input_type == "Однофазный" %}
              <div class="ModelViewSlider">
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/01.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/02.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/03.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/04.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
              </div>
            {% else %}
              <div class="ModelViewSlider">
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/01.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/02.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/03.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/' + product.model_link +'/04.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
              </div>
            {% endif %}
            <hr>
            <ul class="list-unstyled fw-light fs-6">
              <li class="d-flex">
                <div class="flex-grow-1">Тип:</div>
                <div>{{ product.voltage_input_type }}</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1">Мощность:</div>
                <div>{{ product.power }} Вт</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1">Вес:</div>
                <div>{{ product.weight }} кг</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1 fs-5">Цена:</div>
                <div class="fw-normal fs-5">{{ product.price }} р.</div>
              </li>
              <li class=""></li>
            </ul>
            <div class="d-grid mt-2">
              <a class="btn btn-primary" href="view_products/{{ product.model_link }}">Подробрнее..</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
        </div>

      </div><!--Трехфаные модели INFINITY -->
    </div>








  <!-- Brand «ЭНЕРГОТЕХ» -->

   <!-- Brand «ВОЛЬТ ENGINEERING» -->
  <div class="row my-5 gy-3">
    <div class="col-12">
      <h1 class="display-5 text-center">«ВОЛЬТ ENGINEERING»</h1>
      <hr>
    </div>
    <div class="col-12">
      <p>Современные и высокотехнологичные стабилизаторы напряжения.
        Отлично подходят  для для стабилизации напряжения электросети квартиры, дома.
        Стабилизаторы изготавливаются двух типов стабилизации – гибридного и тиристорного.
        Стабилизаторы имеют отличный дизайн и изготовлены в России.
        Гарантийный срок эксплуатации составляет от 2 до 5 лет.</p>
    </div>
    {% for product in volt %}
    <div class="col-6">
      <h5 class="text-center display-4">{{ product.model }}</h5>
               {% if product.model == "АМПЕР" %}
              <div class="ModelViewSlider">
                <div><img src="{{ url_for('static', filename='media/volt-amper/01.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/volt-amper/03.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/volt-amper/04.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/volt-amper/07.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/volt-amper/08.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
              </div>
              {% else %}
              <div class="ModelViewSlider">
                <div><img src="{{ url_for('static', filename='media/volt-gibrid/01.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/volt-gibrid/02.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/volt-gibrid/04.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/volt-gibrid/05.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
                <div><img src="{{ url_for('static', filename='media/volt-gibrid/06.jpg') }}" class="mx-auto" alt="{{ product.brand }} {{ product.model }} {{ product.power }}"></div>
              </div>
              {% endif %}
      <hr>
      <ul class="list-unstyled fw-light fs-6">
              <li class="d-flex">
                <div class="flex-grow-1">Тип:</div>
                <div>{{ product.voltage_input_type }}</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1">Мощность:</div>
                <div>{{ product.power }} Вт</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1">Вес:</div>
                <div>{{ product.weight }} кг</div>
              </li>
              <li class="d-flex">
                <div class="flex-grow-1 fs-5">Цена:</div>
                <div class="fw-normal fs-5">{{ product.price }} р.</div>
              </li>
              <li class=""></li>
            </ul>
      <div class="d-grid gap-2 mt-5">
        <a class="btn btn-lg btn-primary" href="view_products/{{ product.model_link}}">Подробрнее..</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Brand «ВОЛЬТ ENGINEERING» -->

   <!-- Brand «ЭЛИМ» -->
  <div class="row my-5 gy-3">
    <div class="col-12">
      <h1 class="display-5 text-center">«ЭЛИМ»</h1>
      <hr>
    </div>
    <div class="col-12">
      <p>Надежные электромеханические стабилизаторы напряжения.
        Отличаются  хорошей перегрузочной способностью и точностью выходного напряжения.
        Подходят для решения проблем с электропитанием в дачных домах, квартирах.
        Аппараты изготавливаются как в навесном, так и напольном исполнении.
        Изготовлено в Китае. Гарантия 1 год..</p>
    </div>
    {% for product in elim %}
    <div class="col-6">
      <h5 class="text-center display-4">{{ product.model }}</h5>
      <figure class="figure">
        <img src="{{ url_for('static', filename='media/01 TOP 6000_200x150_c4c.jpg') }}" class="figure-img img-fluid rounded" alt="...">
      </figure>
      <hr>
      <p>
        power: {{ product.power }} <br> price: {{ product.price }}$
      </p>
      <div class="d-grid gap-2 mt-5">
        <a class="btn btn-lg btn-primary" href="view_products/{{ elim.model_link }}">Подробрнее..</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Brand «ЭЛИМ» -->




  <!-- OFFCANVAS MENU -->
  <div class="offcanvas offcanvas-bottom" tabindex="-1" id="payment" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Оплата</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists,
        etc.
      </div>
    </div>
  </div>
  <div class="offcanvas offcanvas-bottom" tabindex="-1" id="contacts" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Контакты</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists,
        etc.
      </div>
      <div class="d-flex justify-content-center mt-3">
        <a href="tel:+79785559705" class="btn btn-primary wow zoomIn icon-mobile text-center m-phone-button">+7 978 555
          97 05</a>
      </div>

    </div>
  </div>
  <div class="offcanvas offcanvas-bottom" tabindex="-1" id="delivery" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Доставка</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists,
        etc.
      </div>
    </div>
  </div>
  <!-- OFFCANVAS MENU -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('.stabslider1').slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        speed: 500,
        centerMode: true,
        centerPadding: '80px',
        autoplay: true,
        autoplaySpeed: 2200,
      });
      $('.ModelViewSlider').slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        speed: 500,
        autoplay: true,
        mobileFirst: true,
        pauseOnHover: false,
      });
    });
  </script>
    <script>
    $(".slickSlideRefresh").on('click', function () {
      // $('.ModelViewSlider').slick('reinit');
      $('.ModelViewSlider').slick('slickGoTo', 1);
      });
    </script>




    <script>
    $("ul.nav-tabs a").click(function (e) {
      e.preventDefault();
        $(this).tab('show');
      });
    </script>
</div>
    </div>