<!DOCTYPE html>
<html lang="ru">
<body>

{% include 'inc_head.html' %}
{% include 'inc_nav.html' %}
<div class="container-fluid d-md-none">
  <div class="row">
    <div class="head-logo">
      <h1 class="display-4 text-center text-uppercase">Стабилизаторы.РФ</h1>
      <hr>
    </div>
  </div>
</div>
<div class="container-fluid d-none d-md-block">
  <div class="row">
    <div class="col-12 col-xl-8 offset-xl-2">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='media/slide2.jpg') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <div class="row">
                <div class="col-6 offset-3">
                  <img src="{{ url_for('static', filename='media/021.png') }}" class="img-fluid" alt="...">
                </div>
              </div>
              <h1 class="txt-shadow">INFINITY</h1>
              <h2 class="txt-shadow">РАБОТАЕТ ДАЖЕ ОТ 100 ВОЛЬТ!</h2>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='media/slide1.jpg') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <div class="row">
                <div class="col-6 offset-3">
                  <img src="{{ url_for('static', filename='media/02OP.png') }}" class="img-fluid" alt="...">
                </div>
              </div>
              <h1 class="txt-shadow">OPTIMUM+</h1>
              <h2 class="txt-shadow">КАЧЕСТВО ПО РАЗУМНОЙ ЦЕНЕ!</h2>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-lg mt-5">
  <div class="card-group">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h1 class="h5 fw-light text-center txt-shadow">Какие задачи<br>решает стабилизатор?</h1>
      </div>

      <div class="card-body">
        <p class="h6 fw-light text-center">Стабилизатор предотвращает выход из строя:</p>
        <ul class="fw-light fs-6 mt-4">
          <li>
            <p>бытовой техники</p>
          </li>
          <li>
            <p>торгового оборудования</p>
          </li>
          <li>
            <p>электроинструмента</p>
          </li>
          <li>
            <p>холодильного оборудования</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header bg-primary text-white">
        <h1 class="h5 fw-light text-center txt-shadow">Как правильно<br>выбрать стабилизатор?</h1>
      </div>
      <div class="card-body">
        <p class="h6 fw-light text-center">Для выбора стабилизатора нужно учитывать:</p>
        <ul class="fw-light fs-6 mt-4">
          <li>
            <p>максимальную мощность подключаемого оборудования</p>
          </li>
          <li>
            <p>предельные отклонения напряжения электросети</p>
          </li>
          <li>
            <p>интенсивность перепадов напряжения</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="card text-center">
      <div class="card-header bg-primary text-white">
        <h1 class="h5 fw-light text-center txt-shadow">Нужна консультация<br>специалиста?</h1>
      </div>
      <div class="card-body">
        <p class="h6 fw-light">Мы оказывыаем<br>бесплатную консультацию</p>
        <hr>
        <p class="fs-6 fw-light mb-5">Наши специалисты помогут выбрать оптимальную модель стабилизатора для Ваших
          условий
          эксплуатации.</p>
        <div class="d-grid gap-2">
          <a href="tel:+79785559705"
             class="btn btn-primary btn-lg wow zoomIn icon-mobile text-center m-phone-button shadow">+7 978 555 97
            05</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">

  {% include 'inc_carousel.html' %}

  <div class="row">
    <div class="col-12">
      <h1 class="display-5 text-center">«ЭНЕРГОТЕХ»</h1>
      <hr>
    </div>
    <div class="col-12">
      <p>Отличаются высокой надежностью и безупречным качеством изготовления на современном оборудовании.
        Стабилизаторы тиристорного типа с инновационным алгоритмом управления. Изготовлены в России. Гарантийный срок
        эксплуатации от 5 до 10 лет.
        Применяются в быту, коммерческих объектах ,промышленности.</p>
    </div>
  </div>

  {% include 'catalog_tabs.html' %}

  <div class="row my-5 gy-3">
    <div class="col-12">
      <h1 class="display-5 text-center">«ВОЛЬТ ENGINEERING»</h1>
      <hr>
    </div>
    <div class="col-12">
      <p>Современные и высокотехнологичные стабилизаторы напряжения.
        Отлично подходят для для стабилизации напряжения электросети квартиры, дома.
        Стабилизаторы изготавливаются двух типов стабилизации – гибридного и тиристорного.
        Стабилизаторы имеют отличный дизайн и изготовлены в России.
        Гарантийный срок эксплуатации составляет от 2 до 5 лет.</p>
    </div>
    {% for product in products %}
    {% if product.brand == 'ВОЛЬТ' %}
    {% include 'inc_cat_model_row.html' %}
    {% endif %}
    {% endfor %}
  </div>

  <div class="row my-5 gy-3">
    <div class="col-12">
      <h1 class="display-5 text-center">«ЭЛИМ»</h1>
      <hr>
    </div>
    <div class="col-12">
      <p>Надежные электромеханические стабилизаторы напряжения.
        Отличаются хорошей перегрузочной способностью и точностью выходного напряжения.
        Подходят для решения проблем с электропитанием в дачных домах, квартирах.
        Аппараты изготавливаются как в навесном, так и напольном исполнении.
        Изготовлено в Китае. Гарантия 1 год..</p>
    </div>
    {% for product in products %}
    {% if product.brand == 'ЭЛИМ' %}
    {% include 'inc_cat_model_row.html' %}
    {% endif %}
    {% endfor %}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {
      $('.stabslider1').slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        speed: 500,
        centerMode: true,
        centerPadding: '80px',
        autoplay: true,
        autoplaySpeed: 2200,
      });
      $('.ModelViewSlider').slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        speed: 500,
        autoplay: true,
        mobileFirst: true,
        pauseOnHover: false,
      });
    });
</script>
<script>
    $(".slickSlideRefresh").on('click', function () {
      // $('.ModelViewSlider').slick('reinit');
      $('.ModelViewSlider').slick('slickGoTo', 1);
      });
</script>
</body>
</html>