<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--      {% for product in products %}-->
<!--    <h1 class="display-2 text-center">{{ product.brandName }} {{ product.model_name }}</h1>-->
<!--    <div class="col-12">-->
<!--      <div class="ModelViewSlider">-->
<!--        <div><img src="{{ url_for('static', filename='media/01 PRIME 6000_200x150_c4c.jpg') }}" class="mx-auto" alt="..."></div>-->
<!--        <div><img src="{{ url_for('static', filename='media/01 PRIME 6000_200x150_c4c.jpg') }}" class="mx-auto" alt="..."></div>-->
<!--        <div><img src="{{ url_for('static', filename='media/01 PRIME 6000_200x150_c4c.jpg') }}" class="mx-auto" alt="..."></div>-->
<!--        <div><img src="{{ url_for('static', filename='media/01 PRIME 6000_200x150_c4c.jpg') }}" class="mx-auto" alt="..."></div>-->
<!--      </div>-->
<!--      <h1 class="display-4">Price: {{ product.price }}$</h1>-->
<!--      <p class="h4">Описание</p>-->
<!--        <p class="lead">-->
<!--          {{ product.description }}-->
<!--        </p>-->
<!--        <table class="table table-bordered table-hover item-tab mt-4">-->
<!--          <thead class="table-dark text-center">-->
<!--          <tr>-->
<!--            <th colspan="2">Характеристики</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody class="text-center">-->
<!--          <tr>-->
<!--          <td>Мощность</td>-->
<!--          <td>{{ product.param_power }}ВА</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--          <td>Тип</td>-->
<!--          <td>{{ product.param_type }}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--          <td>Диапозон вх. напряжения</td>-->
<!--          <td><span>{{ product.param_voltage }}</span>&nbsp;В</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--          <td>Точность</td>-->
<!--          <td>+\- {{ product.param_accuracy }}%</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--          <td>Гарантия</td>-->
<!--          <td>{{ product.param_warranty }} лет</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--          <td>Масса(не более)</td>-->
<!--          <td>{{ product.param_weight }} кг</td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--          </table>-->
<!--          <div class="d-grid gap-2">-->
<!--            <button type="button" class="btn btn-danger">Заказать..</button>-->
<!--          </div>-->
<!--    </div>-->
<!--      {% endfor %}-->
</body>
</html>